[Unit]
Description=Locust.io {{ instance_name }} master
Requires=network-online.target
After=network-online.target

[Service]
Restart=always
User=root
Group=root
PermissionsStartOnly=true
ExecStart=/opt/locust.io/{{ instance_name }}/start_script
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
