#!/bin/bash

# {{ ansible_managed }}

LOCUSTCLASSES='{{locust_classes|default([])|join(" ")}}'

cd '{{ base_dir }}/{{ instance_name|quote }}'
{{ base_dir }}/base/virtenv/bin/python {{ base_dir }}/base/virtenv/bin/locust \
{% if mode is not defined or mode == 'slave' %}
--slave \
{% elif mode == 'master' %}
--master \
--no-web \
{% endif %}
$LOCUSTCLASSES
